body{
    color: white;
    background-size:cover;
}

.form-group{
    background-color:cornflowerblue;
    width: 40%;
    border-radius: 25px;
    padding: 10px;
}

.btn-warning{
    visibility: hidden;
}

canvas{
    background-color: white;
    border-width: 10px;
    border-color: gray;
    border-radius: 15px;
    margin-top: 280px;
}

.copy_right_footer{
    position: fixed;    
    background-color: gray;
    color: white;
    bottom: 0;
    width: 100%;
    line-height: 20px;    
    text-align: center;
    margin-top: 25px;
}